{% extends "layouts/application.twig" %}

{% set title = lang('Customers') %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{ title }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ base_url('/dashboard') }}">{{ lang('Dashboard') }}</a></li>
                        <li class="breadcrumb-item"><a href="{{ base_url('/customers') }}">{{ lang('Customers') }}</a></li>
                        <li class="breadcrumb-item active">{{ lang('Create') }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="far fa-edit"></i>
                        {{ lang('Create_new') }}
                    </h3>
                </div>
                {{ form_open() }}
                <div class="card-body">

                </div>
                <div class="card-footer">
                    <a href="{{ base_url('/projects') }}" class="btn btn-default">
                        <i class="fa fa-times"></i> {{ lang('Cancel') }}
                    </a>
                    <button type="submit" name="create_customer" value="true" class="btn btn-primary float-right">
                        <i class="fa fa-save"></i> {{ lang('Save') }}
                    </button>
                </div>
                {{ form_close() }}
            </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
        $("button[name=update_comment]").click(function (e) {
            e.preventDefault();
            const comment_id = $(this).val();
            const body = $('#commentId-' + comment_id).val();
            $.ajax({
                type: "POST",
                url: '/comments/ajax-update',
                data: {
                    "comment_id": comment_id,
                    "body": body
                },
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
        $("button[name=del_comment]").click(function (e) {
            e.preventDefault();
            const comment_id = $(this).val();
            $.ajax({
                type: "POST",
                url: '/comments/ajax-delete',
                data: {
                    'comment_id': comment_id
                },
                success: function (data) {
                    $('#comment-' + comment_id).remove();
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
    </script>
{% endblock %}
