{% extends "layouts/application.twig" %}

{% set title = lang('Customers') %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{ title }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ base_url('/') }}">{{ lang('Home') }}</a></li>
                        <li class="breadcrumb-item active">{{ title }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ lang('List_of_projects') }}</h3>
                </div>
                <div class="card-body">
                    <div id="toolbar">
                        <a href="{{ base_url('/customers/create') }}" class="btn btn-default">
                            <i class="fas fa-plus-circle"></i> {{ lang('Create_new') }}
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table id="table">
                            <thead>
                                <tr>
                                    <th data-field="id" data-formatter="#%s">ID</th>
                                    <th data-field="name">{{ lang('Name') }}</th>
                                    <th data-field="email" data-formatter="emailFormatter">{{ lang('Email') }}</th>
                                    <th data-field="website" data-formatter="websiteFormatter">{{ lang('Website') }}</th>
                                    <th data-field="nip">NIP</th>
                                    <th data-field="regon">REGON</th>
                                    <th data-field="krs">KRS</th>
                                    <th data-field="id" data-formatter="openFormatter" data-width="105">{{ lang('Actions') }}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-default"><i class="fa fa-arrow-left"></i> {{ lang('Back') }}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url('plugins/bootstrap-table/bootstrap-table.min.js') }}"></script>
    <script>
        const $table = $('#table');
        $table.bootstrapTable({
            url: '{{ base_url("/customers/table-data") }}',
            buttonsClass: 'btn btn-primary',
            classes: 'table table-hover',
            pageSize: 25,
            search: true,
            showColumns: true,
            pagination: true,
            sitePagination: 'client',
            showPaginationSwitch: true,
            showRefresh: true,
            toolbar: "#toolbar"
        });

        function emailFormatter(row) {
            return '<a href="mailto:' + row + '" class="btn btn-link">' + row + '</a>';
        }

        function websiteFormatter(row) {
            const address = (row.substr(0, 4) === 'http' ? '' : 'http://') + row;
            return '<a href="'+ address +'" class="btn btn-link" title="' + row + '">' + row + '</a>';
        }

        function openFormatter(value) {
            return '<a href="' + base_url + 'customers/show/' + value + '" class="btn btn-link btn-sm"><i class="far fa-folder-open"></i> ' + '{{ lang('Show') }}' + '</a>';
        }
    </script>
{% endblock %}
