{% extends "layouts/application.twig" %}

{% set title = lang('Summary') %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{ title }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ base_url('/dashboard') }}">{{ lang('Dashboard') }}</a></li>
                        <li class="breadcrumb-item"><a href="{{ base_url('/projects') }}">{{ lang('Projects') }}</a></li>
                        <li class="breadcrumb-item active">{{ lang('Show') }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="far fa-file"></i>
                        {{ lang('Details') }}
                    </h3>
                </div>
                <div class="card-body">
                    <div id="toolbar" class="form-inline">
                        <button id="button" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                            {{ lang('Update') }}
                        </button>&nbsp;
                        <div class="form-group">
                            <select name="customer" id="customerInput" class="form-control">
                                <option value="">--{{ lang('Customer') }}--</option>
                                {% for customer in customers %}
                                    <option value="{{ customer.id }}">{{ customer.name }}</option>
                                {% endfor %}
                            </select>
                        </div>&nbsp;
                        <div class="form-group">
                        <!-- 'New','Realized','Unpaid','Finished','Canceled' -->
                            <select name="status" id="statusInput" class="form-control">
                                <option value="">--{{ lang('Status') }}--</option>
                                <option value="new">{{ lang('New') }}</option>
                                <option value="realized">{{ lang('Realized') }}</option>
                                <option value="unpaid">{{ lang('Unpaid') }}</option>
                                <option value="finished">{{ lang('Finished') }}</option>
                                <option value="canceled">{{ lang('Canceled') }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="table">
                            <thead>
                                <tr>
                                    <th data-field="state" data-checkbox="true">#</th>
                                    <th data-field="id" data-formatter="indexFormatter">ID</th>
                                    <th data-field="created_at">{{ lang('Date') }}</th>
                                    <th data-field="name">{{ lang('Name') }}</th>
                                    <th data-field="price" data-formatter="priceFormatter">PLN</th>
                                    <th data-field="status">Status</th>
                                    <th data-field="customer.name">{{ lang('Customer') }}</th>
                                    <th data-field="id" data-formatter="openFormatter" data-width="105">{{ lang('Actions') }}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ base_url('/summaries') }}" class="btn btn-dark">
                        <i class="fa fa-arrow-circle-left"></i> {{ lang('Back') }}
                    </a>
                </div>
            </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url('plugins/bootstrap-table/bootstrap-table.min.js') }}"></script>
    <script>
        const $table = $('#table');
        const $button = $('#button');
        const formatPrice = new Intl.NumberFormat('pl-PL', {
            style: 'currency',
            currency: 'PLN'
        });
        $table.bootstrapTable({
            url: baseUrl + "/projects/table-data",
            buttonsClass: 'btn btn-primary',
            classes: 'table table-hover',
            showFooter: true,
            pageSize: 25,
            search: true,
            showColumns: true,
            pagination: true,
            sitePagination: 'client',
            showPaginationSwitch: true,
            showRefresh: true,
            toolbar: '#toolbar',
            queryParams: function () {
                return {
                    customer_id: $("#customerInput").val(),
                    status: $("#statusInput").val()
                };
            }
        });
        $("#customerInput, #statusInput").on("change", function() {
            $table.bootstrapTable("refresh");
        });
        $table.on('check.bs.table', function (e, value, row, index) {
            console.log(value.id);
        });
        function indexFormatter(value, row, index) {
            return parseInt(index) + 1;
        }
        function priceFormatter(amount) {
            return formatPrice.format(amount);
        }
        $(function() {
            $button.click(function () {
                const ids = $.map($table.bootstrapTable('getSelections'), function (row) {
                    return row.id;
                });
                if (ids <= 0) {
                    $.notify({message: 'Select at least one element'}, {type: 'warning'});
                    return ;
                }
                $table.bootstrapTable('checkBy', {field: 'id', values: [98, 105, 106]});
                $.ajax({
                    type: "POST",
                    url: baseUrl + '/summaries/ajax-remove-project',
                    data: {
                        'summary_id': '{{ summary.id }}',
                        'ids': ids
                    },
                    success: function () {
                        $table.bootstrapTable('remove', {
                            field: 'id',
                            values: ids
                        });
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });
        });
    </script>
{% endblock %}
