{% extends "layouts/auth.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            {{ config.item('app_name') }}
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                {{ form_open() }}
                <div class="input-group mb-3">
                    <input type="email" name="email" class="form-control{{ form_error('email') ? ' is-invalid'}}" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    {{ form_error('email') }}
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control{{ form_error('password') ? ' is-invalid'}}" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    {{ form_error('password') }}
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" name="remember" id="remember" value="true">
                            <label for="remember">Remember Me</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block" name="login" value="true">Sign In</button>
                    </div>
                </div>
                {{ form_close() }}
                <p class="mb-1">
                    <a href="{{ site_url('/forgot-password') }}">I forgot my password</a><br>
                </p>
                <p class="mb-0">
                    <a href="{{ site_url('register') }}" class="text-center">Register a new membership</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}